body{
    margin:0;
    font-family:Arial, sans-serif;
    background-color:#ABB1B8;
}



/* Navbar */
.navbar {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:#ffffff;
    padding: 10px 40px;
}


/* HGHS Logo */
.logo img {
    width:90px;
    height: auto;
}


/* Title */
.club-name{
    font-size:34px;
    font-weight:bold;
    color:#4d5155;
}



/* Middle text */
.club-name {
    font-size:25px;
    font-weight:bold;
    color:#889196;
}

h1{color:#ffffff;
    text-align:center;}


h2{color:#444444;
    text-align:center;}
    

h3{color:#2c2c2c;
    text-align:center;}


p{color:#4a3728;
    text-align:center
    line-height:1.6;}
    

img{width:40%;
    display:block;
    margin:auto;
    border-radius:10px;}
    


/* Menu */
.nav-links {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    gap: 20px;
}


.nav-link li{
    list-style:none;
}

.nav-links li a {
    text-decoration: none;
    color: #717477;
    padding:8px 12px;
    font-size:22px;
}


.nav-link li a:hover {
    background-color: #ffffff;
    border-radius:5px;
}


/* events flexbox */
.Club-events {
    display: flex;
flex-direction: row;
}

.events-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.events-container img {
    width: 90%;
}



/* Popular flexbox */
.Popular-Roblox {
    display: flex;
flex-direction: row;
}

.Popular-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Popular-container img {
    width: 90%;
}





/* How to play flexbox */
.Howto-play {
    display: flex;
flex-direction: row;
}

.How-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.How-container img {
    width: 90%;
}

