.navbar ul{list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background: color #ffffff;;}


.navbar li{float:left;}


.navbar li a{display:block;
    color:rgb(0, 0, 0);
    text-align:center;
    padding:14px 20px;
    text-decoration:none;}


.navbar li a:hover{background-color:#a0a0a0;}
