/* Navbar */
.navbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#ffffff;
    padding: 10px 40px;
}


/* HGHS Logo */
.logo img {
    width:60px;
}


/* Middle text */
.club-name {
    font-size:25px;
    font-weight:bold;
    color:#000000;
}



/* Menu */
.nav-links {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    gap: 25px;
}


.nav-links li a {
    text-decoration: none;
    color: #555353;
    padding:14px 20px;
    display: block;
}


.nav-link li a:hover {
    background-color: #ff0000;
}

